src/generated/
src/var/
src/vendor/
src/var/view_preprocessed/pub/static/frontend/Kalicr/temaMariano/en_US/css/source/_extend.less
src/var/log/*.log
src/var/log/
src/var/view_preprocessed/
src/generated/
src/pub/static/
src/pub/media/
src/var/cache/
src/var/page_cache/
src/var/generation/
src/generated/
/vendor/
.idea/
.vscode/
src/pub/.htaccess
src/pub/.user.ini
src/pub/cron.php
src/pub/get.php
src/pub/health_check.php
src/pub/index.php
src/pub/static.php
src/pub/errors/.htaccess
src/pub/errors/404.php
src/pub/errors/503.php
src/pub/errors/design.xml
src/pub/errors/local.xml.sample
src/pub/errors/noCache.php
src/pub/errors/processor.php
src/pub/errors/processorFactory.php
src/pub/errors/report.php
src/pub/errors/default/404.phtml
src/pub/errors/default/503.phtml
src/pub/errors/default/nocache.phtml
src/pub/errors/default/page.phtml
src/pub/errors/default/report.phtml
src/pub/errors/default/css/styles.css
src/pub/errors/default/images/favicon.ico
src/pub/errors/default/images/i_msg-error.gif
src/pub/errors/default/images/i_msg-note.gif
src/pub/errors/default/images/i_msg-success.gif
src/pub/errors/default/images/logo.gif
src/pub/opt/magento/var/resource_config.json
